body {
  height: 100%;
  width: 100%;
}

img
{
	height: 180px;
	width: 100%;
}
.organization
{
	position: absolute;
	width: 201px;
	height: 32px;
	left: 463px;
	top: 257px;

	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;

	color: #8999AA
}
.orgainput
{
	position: absolute;
	width: 302px;
	height: 48px;
	left: 463px;
	top: 294px;

	border: 2px solid #8999AA;
	box-sizing: border-box;
	border-radius: 6px;

	font-size: 14px;
}
.cashier
{
	position: absolute;
	width: 206px;
	height: 29px;
	left: 863px;
	top: 257px;

	
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;

	color: #8999AA
}
.cashierinput
{
	position: absolute;
	width: 302px;
	height: 48px;
	left: 863px;
	top: 294px;

	border: 2px solid #8999AA;
	box-sizing border-box;
	border-radius: 6px;

	font-size: 14px;
}
.buxgal
{
	position: absolute;
	width: 206px;
	height: 29px;
	left: 863px;
	top: 453px;

	
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;

	color: #8999AA
}
.buxgalinput
{
	position: absolute;
	width: 302px;
	height: 48px;
	left: 863px;
	top: 490px;

	border: 2px solid #8999AA;
	box-sizing border-box;
	border-radius: 6px;

	font-size: 14px;
}
.vid
{
	position: absolute;
	width: 206px;
	height: 29px;
	left: 463px;
	top: 355px;

	
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;

	color: #8999AA
}
.choose
{
	position: absolute;
	width: 302px;
	height: 48px;
	left: 463px;
	top: 392px;

	border: 2px solid #8999AA;
	box-sizing border-box;
	border-radius: 6px;

	font-size: 14px;	
}
.logbtn
{
	position: absolute;
	width: 122px;
	height: 43px;
	left: 1044px;
	top: 700px;

	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: #FFFFFF;

	background: #00D67A;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	border-radius: 6px;
}
.logbtnb
{
	position: absolute;
	width: 102px;
	height: 43px;
	left: 460px;
	top: 700px;

	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: #8999AA;

	background: white;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
	border-radius: 6px;
}

.pass
{
	position: absolute;
	width: 206px;
	height: 29px;
	left: 863px;
	top: 355px;

	
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;

	color: #8999AA
}
.passinput
{
	position: absolute;
	width: 302px;
	height: 48px;
	left: 863px;
	top: 392px;

	border: 2px solid #8999AA;
	box-sizing border-box;
	border-radius: 6px;

	font-size: 14px;
}
.passcheck
{
	position: absolute;
	width: 206px;
	height: 29px;
	left: 863px;
	top: 551px;

	
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;

	color: #8999AA
}
.passcheckinput
{
	position: absolute;
	width: 302px;
	height: 48px;
	left: 863px;
	top: 588px;

	border: 2px solid #8999AA;
	box-sizing border-box;
	border-radius: 6px;

	font-size: 14px;	
}