<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Карты</title>
        <link rel="stylesheet" type="text/css" href="/static/cardpass.css">
    </head>
  <body>
      <form action="/cardpass" method="POST" class="login-form" >
        <div>
            <img src="/static/loyal.jpg">
        </div>
<label class="text">Изменить</label>
    <div class="flex-container">
            <button type="submit" class="logbtn" value="Скидки" name="submit"> Скидки </button>
            <button type="submit" class="logbtnc" value="Лимит" name="submit">Лимит </button>
            <button type="submit" class="logbtnd" value="Взаимодействие" name="submit">Взаимодействие </button>
            <button type="submit" class="logbtnb" value="Назад" name="submit">Назад </button>
    </div>

  </body>
</html>