<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/static/cconect.css">
</head>
<body>
	<form action="/cardcontrol" method="POST" method="GET">
		<div class="image">
      		<img src="/static/loyal.jpg">
    	</div>
    	<label class="text">Назначение</label>

    	<label class="head1">Общепит</label>
    	<label class="head2">Медицина</label>
    	<label class="head3">Образование</label>
    	<label class="head4">Прочие</label>

		<div class="obs">
			<label class="goldl">GOLD</label>
			<select name="gold" class="gold">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>

			<select name="silver" class="silver">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="premium" class="premium">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="infinity" class="infinity">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
		</div>

		<label class="silverl">SILVER</label>
		<div class="medit">
			<select name="gold2" class="gold">
				<option value="0">Состояние</option>
				<option value="1">Добавить</option>
				<option value="2">Убрать</option>
			</select>

			<select name="silver2" class="silver">
				<option value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="premium2" class="premium">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="infinity2" class="infinity">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
		</div>

		<label class="premiuml">PREMIUM</label>
		<div class="obrazovanie">
			<select name="gold3" class="gold">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>

			<select name="silver3" class="silver">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="premium3" class="premium">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="infinity3" class="infinity">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
		</div>


		<label class="infinityl">INFINITY</label>
		<div class="ostalnoe">
			<select name="gold4" class="gold">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>

			<select name="silver4" class="silver">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="premium4" class="premium">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
			<select name="infinity4" class="infinity">
				<option  value="0">Состояние</option>
				<option  value="1">Добавить</option>
				<option  value="2">Убрать</option>
			</select>
		</div>

		<div>
            <button type="submit" class="logbtn"  id = "logbtn" value="Изменить" name="submit">Изменить</button>
            <button type="submit" class="logbtnb" value="Назад" name="submit"> Назад </button>
    	</div>

	</form>
</body>
</html>