<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CITY NET</title>
  <link rel="stylesheet" href="/static/home.css">
</head>
<body>
  <form  action="/login" method="post" class="login-form">
    <div>
      <img src="/static/loyal.jpg">
    </div>
<label class="text">Войти</label>
    <div class="txtb">
      <label class="loglabel">Логин:</label>
      <input type="text" autocomplete="off" class="login" placeholder="Username" name="name">
      <label class="paslabel">Пароль:</label>
      <input type="password" autocomplete="off" class="password" placeholder="Password" name="password">
    </div>
    <div>
      <input type="submit" class="logbtn" value="Вход">
    </div>

  </form>

</body>
</html>