<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adminpage</title>
        <link rel="stylesheet" type="text/css" href="/static/pass.css">
    </head>
  <body>
      <form action="/adminpage" method="POST" class="login-form" >
        <div>
            <img src="/static/loyal.jpg">
        </div>
<label class="text">Добавить</label>
    <div class="flex-container">
            <button type="submit" class="logbtn" value="Персонал" name="submit"> Персонал </button>
            <button type="submit" class="logbtnc" value="Компанию" name="submit">Компанию </button>
            <button type="submit" class="logbtnd" value="Карту" name="submit">Карту </button>
            <button type="submit" class="logbtnb" value="Назад" name="submit">Назад </button>
    </div>

  </body>
</html>