<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Карты</title>
        <link rel="stylesheet" type="text/css" href="/static/spliter.css">
    </head>
  <body>
      <form action="/spliter" method="POST" class="login-form" >
        <div>
            <img src="/static/loyal.jpg">
        </div>
<label class="text">Изменить</label>
    <div class="flex-container">
            <button type="submit" class="logbtn" value="Изменения" name="submit">Внести изменения</button>
            <button type="submit" class="logbtnc" value="Статус" name="submit">Статус </button>
            <button type="submit" class="logbtnb" value="Назад" name="submit">Назад </button>
    </div>

  </body>
</html>